<div class="container">

  <h3 [routerLink]="['/ad-home']" style="display: inline-block; margin-right: 10px">List Account</h3>
  <h3 [routerLink]="['/ad-store-list']" style="display: inline-block">List Store</h3>

  <div class="panel-search w-full p-t-10 p-b-15">
    <div class="bor8 dis-flex p-l-15">
      <i class="zmdi zmdi-search size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04"></i>
      <input [(ngModel)]="message" (input)="search()" class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Store Owner</th>
      <th>Category</th>
      <th>Status</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of stores; index as i">
      <td> {{i + 1}} </td>
      <td>{{s.name}}</td>
      <td>{{s.description}}</td>
      <td>{{s.storeOwner?.fullName}}</td>
      <td>{{s.categoriesList?.name}}</td>
      <td>{{s.storeOwner?.status}}</td>
      <td>
        <button class="btn btn-danger" *ngIf="s.storeOwner?.status == 'Activated'" (click)="blockStore(s.storeOwner?.id)"><i class="fa-solid fa-ban" style="margin-right: 3px"></i> Block</button>
        <button class="btn btn-primary" *ngIf="s.storeOwner?.status != 'Activated'" (click)="blockStore(s.storeOwner?.id)"><i class="fa-regular fa-circle-check" style="margin-right: 3px"></i> Activate</button>
      </td><td>
      </td>
    </tr>
    </tbody>
  </table>
</div>
