<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Quantity</th>
    <th colspan="2">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of carts; index as i">
    <td> {{i + 1}} </td>
    <td>{{c.product?.name}}</td>
    <td>
      <div class="wrap-num-product flex-w m-r-20 m-tb-10">
        <button [disabled]="c.quantity == 1" (click)="minusQuantity(c.product?.id)" class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
          <i class="fs-16 zmdi zmdi-minus"></i>
        </button>

        <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="{{c.quantity}}">


        <button [disabled]="c.quantity == c.product?.inventoryQuantity" (click)="plusQuantity(c.product?.id)" class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
          <i class="fs-16 zmdi zmdi-plus"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>
