<h1>Add New Product</h1>
<form [formGroup]="productForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Price</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Inventory Quantity</td>
      <td><input type="number" formControlName="inventoryQuantity"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
        <input
          type="file"
          class="text-nowrap text-truncate"
          (change)="selectFile($event)"
        />
      <div *ngIf="currentFileUpload" class="progress mt-2">
        <div
          class="progress-bar progress-bar-info"
          role="progressbar"
          attr.aria-valuenow="{{ percentage }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: percentage + '%' }"
        >
          {{ percentage }}%
        </div>
        <p *ngIf="percentage == 100">{{currentFileUpload.url}}</p>
      </div>
    </tr>
    <tr>
      <td></td>
      <td>
        <button>Create New</button>
      </td>
    </tr>
  </table>
</form>
